@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "posts";
@import "users";

.card-header{
  background-color: white;
}
.link_home{
  margin-left: 10px;
  color: black;
}